.center {
    width: 300px;
    height: 200px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    border-radius: 16px;
    transition: background 0.5s;
}

.Button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #667eea;
    color: #131313;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: background 0.2s;
}

.Button:hover {
    background-color: #515ed2;
}
.backbutton {
    width: 70px;
    height: 30px;
    background-color: rgb(245, 161, 35);
    border-color: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    

}