:root {
    --bg-color: #fdfbfe;
    --text-color: rgb(14, 14, 14);
    --button-bg: #f1cc53;
    --shadow-color: rgba(0, 0, 0, 0.50);
    --backbutton-bg: rgb(245, 161, 35);
}

body.dark {
    --bg-color: #333;
    --text-color: #fff;
    --button-bg: #666;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --backbutton-bg: #666;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.rectangle-bg {
    position: relative; 
    width: 80%;
    max-width: 800px;
    height: 300px;
    background: var(--bg-color);
    border-radius: 20px;
    box-shadow: 20px 10px 50px var(--shadow-color);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
}
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 40px;
}

.Picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 30px 0 0; /* Add right margin for spacing */
}
.Picture .Text {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

.Name, .Na, .Text, .Text1, .paragraph {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Name {
    font-size: 24px;
    margin-top: 10px;
}

.Na {
    font-size: 34px;
}

.Text {
    font-size: 12px;
    margin-bottom: -175px;
    
}

.Text1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.paragraph {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.contactButton {
    display: inline-block;
    margin: 12px 10px 0 10px;
    padding: 12px 32px;
    background-color: var(--button-bg); 
    color: white; 
    font-size: 16px; 
    font-weight: bold;
    border: none; 
    border-radius: 12px; 
    cursor: pointer; 
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
}
.contact-btn a {
    color: white; 
    text-decoration: none; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.themeButton {
    display: inline-block;
    margin: 12px 10px 0 10px;
    padding: 12px 32px;
    background-color: var(--button-bg); 
    color: white; 
    font-size: 16px; 
    font-weight: bold;
    border: none; 
    border-radius: 12px; 
    cursor: pointer; 
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
}

.headerButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.backbutton {
    width: 70px;
    height: 30px;
    background-color: var(--backbutton-bg);
    border-color: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    

}