.rectangle-bg {
    position: relative; 
    width: 80%;
    max-width: 800px;
    height: 300px;
    background: #fdfbfe;
    border-radius: 20px;
    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.50);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
}
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 40px;
}

.Picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 30px 0 0; /* Add right margin for spacing */
}
.Picture .Text {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(14, 14, 14);
    text-align: center;
}

.Name, .Na, .Text, .Text1, .paragraph {
    margin: 0;
    padding: 0;
    color: rgb(14, 14, 14);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Name {
    font-size: 24px;
    margin-bottom: 10px;
}

.Na {
    font-size: 38px;
    margin-bottom: 10px;
}

.Text {
    font-size: 12px;
    margin-bottom: -175px;
    
}

.Text1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 675px;
}

.paragraph {
    font-size: 18px;
    text-align: left;
    margin-bottom: 500px;
}

.contactButton {
    display: block;
    margin: 12px auto 0 auto;
    padding: 12px 32px;
    background-color: #f1cc53; 
    color: white; 
    font-size: 16px; 
    font-weight: bold;
    border: none; 
    border-radius: 12px; 
    cursor: pointer; 
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
}
.contact-btn a {
    color: white; 
    text-decoration: none; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerButton {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-left: 570px;
}

.backbutton {
    width: 70px;
    height: 30px;
    background-color: rgb(245, 161, 35);
    border-color: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    

}